<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniba.di.sms1920.misurapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SensorTemperatureActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".HistoryActivity"></activity>
        <activity
            android:name=".SensorHumidityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorPressureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SensorStepCounterActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".SensorAccelerometerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SensorRotationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorProximityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorLightActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>